# Created by https://www.gitignore.io/api/ansible,testinfra
# Edit at https://www.gitignore.io/?templates=ansible,testinfra

### Ansible ###
*.retry

### Testinfra ###
__pycache__/
.pytest_cache/

# End of https://www.gitignore.io/api/ansible,testinfra
